.modal {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    transition: opacity 0.3s;
}

.modal.visible {
    opacity: 1;
    visibility: visible;
    position: absolute;
}

.modal__shade {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(136, 136, 136, 0.5);
}

.modal__content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    max-height: 600px;
    background-color: #ffffff;
    border-radius: 5px;
    overflow: hidden;
}

.modal__close {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0 10px 0 0;
    color: #4a4a4a;
    font-size: 40px;
    cursor: pointer;
}

.leaderboard__modal {
    width: 600px;
    max-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.leaderboard__header {
    padding: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #e9ecef;
}
.leaderboard__body {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.leaderboard__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    padding: 16px;
}
.leaderboard__item {
    word-wrap: break-word;
    width: 150px;
    border: 1px solid #f3f3f3;
    padding: 10px;
}
.leaderboard__footer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    border-top: 1px solid #e9ecef;
}


.input__modal {
    width: 500px;
    max-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.input__header {
    padding: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #e9ecef;
}
.input__header h3 {
    margin: 10px
}
.input__body {
    padding: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 70px;
}
.input__body p {
    margin: 10px;
}
.input__footer {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    border-top: 1px solid #e9ecef;
}
.input__name {
    margin: 10px;
    width: 320px;
    height: 38px;
    outline: none;
    border: none;
    background-color: #fafafa;
    border-radius: 2px;
    font-size: 16px;
}
.input__save {
    width: 120px;
    height: 38px;
    outline: none;
    border: none;
    background-color: #80a5cc;
    color: #ffffff;
    border-radius: 2px;
    cursor: pointer;
}