.header {
    margin: 10px ;
    width: 500px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}

.results {
    display: flex;
    align-items: center;
    justify-content: center;
}

.time {
    padding: 10px;
    width: 150px;
}

.moves {
    padding: 10px;
    width: 100px;
}