@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.fifteens {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.empty {
    width: 100px;
    height: 100px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellowgreen;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 38px;
    padding: 20px;
    margin: 10px;
    outline: none;
    border: none;
    background-color: #80a5cc;
    color: #ffffff;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}
.btn-small {
    width: 120px;
}
.btn-medium {
    width: 170px;
}
.btn:hover {
    background-color: #587a9e;
}
.btn.hidden {
    visibility: hidden;
}
.btn-inactive {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 38px;
    padding: 20px;
    margin: 10px;
    outline: none;
    border: none;
    background-color: #cccccc;
    color: #ffffff;
    border-radius: 2px;
    cursor: default;
    transition: background-color 0.3s ease-in-out;
}